.carte-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carte {
  padding: 2em 0;
  background-color:#f8f8f8;
  border-radius: 32px 32px 0 0;
  margin-top: -2em;
  position: relative;

  h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 28px;
    margin: 0;
  }

  h2 {
    margin: 0 0 1.25em 0;
    position: relative;
    font-size: 18px;
    font-weight: 300;
    opacity: 0.7;
    &:before {
      content: '';
      width: 50px;
      height: 4px;
      background: $lightGreen;
      position: absolute;
      bottom: -8px;
    }
  }

  .meal-list {
    margin: 2.5em 0;
  }

  .cta-container {
    text-align: center;
    .cta {
      width: 11em;
    }
  }
}

.meal-list {
  @for $i from 1 through 4 {
    &:nth-of-type(#{$i}) {
      .meal-card {
        animation: appear 1s forwards;
        opacity: 0;

        @for $k from 1 through 5 {
          &:nth-of-type(#{$k}) {
            animation-delay: ($delay + $i)/ 3;
          }

          $delay: $delay + 0.3s;
        }
      }
    }
  }
}
