footer {
  background-color: rgb(60, 60, 60);
  color: white;
  padding: 2em 0;

  h3 {
    font-family: 'Shrikhand', cursive;
    padding-bottom: 1em;
  }

  p {
    padding: 4px 0;
  }

  i {
    padding-right: 1em;
  }

  .fa-handshake-angle {
    width: 14px;
  }
}
