#location {
  background-color: #ebe8e8;
  font-size: 20px;
  display: flex;
  height: 65px;
  box-shadow:rgba(0, 0, 0, 0.06) 0px 1px 2px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px;
  p {
    margin: auto;
  }
  i {
    margin-right: 1em;
  }
}

#explorer {
  background-color: #F8F8F8;
  .container {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 3rem;
  }

  h1 {
    margin-top: 0;
    font-size: 26px;
  }

  p {
    font-size: 18px;
    opacity: 0.6;
    margin-bottom: 1em;
  }

  input {
    @include cta
  }
}

#fonctionnement {
  padding: 2em 0 3em 0;
}

#restaurants {
  background-color: #F8F8F8;
  padding: 2em 0;
}
