<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../css/style.css">
  <title>Menu Le Délice des Sens</title>
  <script src="https://kit.fontawesome.com/1db11ea788.js" crossorigin="anonymous"></script>
</head>

<body>
  <header id="menu-navbar">
    <a href="../../index.html"><i class="fa-solid fa-arrow-left"></i></a>
    <img src="../../images/ohmyfood.png" alt="logo">
  </header>

  <img src="../../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg" alt="Le Délice des Sens">

  <section class="carte">
    <div class="container">
      <h1>Le délice des sens<i class="fa-regular fa-heart"></i></h1>
      <div class="meal-list">
        <h2>ENTRÉES</h2>
        <div class="meal-card">
          <h3 class="meal-title">Tartare de thon</h3>
          <div class="meal-card__infos">
            <p class="meal-card__description">Assaisonné au yuzu</p>
            <p class="meal-card__price">25€</p>
          </div>
          <div class="meal-card__fill">
            <div class="checkmark"><i class="fa-solid fa-check"></i></div>
          </div>
        </div>
        <div class="meal-card">
          <h3 class="meal-title">Bouchée de homard croustillant</h3>
          <div class="meal-card__infos">
            <p class="meal-card__description">Et sa farandole de petits légumes</p>
            <p class="meal-card__price">35€</p>
          </div>
          <div class="meal-card__fill">
            <div class="checkmark"><i class="fa-solid fa-check"></i></div>
          </div>
        </div>
        <div class="meal-card">
          <h3 class="meal-title">Velouté de cèpes</h3>
          <div class="meal-card__infos">
            <p class="meal-card__description">Aux truffes</p>
            <p class="meal-card__price">20€</p>
          </div>
          <div class="meal-card__fill">
            <div class="checkmark"><i class="fa-solid fa-check"></i></div>
          </div>
        </div>
      </div>

      <div class="meal-list">
        <h2>PLATS</h2>
        <div class="meal-card">
          <h3 class="meal-title">Poulet rôti aux herbes de Provence</h3>
          <div class="meal-card__infos">
            <p class="meal-card__description">Et sa crème de truffe</p>
            <p class="meal-card__price">40€</p>
          </div>
          <div class="meal-card__fill">
            <div class="checkmark"><i class="fa-solid fa-check"></i></div>
          </div>
        </div>
        <div class="meal-card">
          <h3 class="meal-title">Langoustine rôtie</h3>
          <div class="meal-card__infos">
            <p class="meal-card__description">Et ses légumes de saison</p>
            <p class="meal-card__price">35€</p>
          </div>
          <div class="meal-card__fill">
            <div class="checkmark"><i class="fa-solid fa-check"></i></div>
          </div>
        </div>
        <div class="meal-card">
          <h3 class="meal-title">Côte de boeuf Angus</h3>
          <div class="meal-card__infos">
            <p class="meal-card__description">Et sa purée de panais</p>
            <p class="meal-card__price">44€</p>
          </div>
          <div class="meal-card__fill">
            <div class="checkmark"><i class="fa-solid fa-check"></i></div>
          </div>
        </div>
      </div>

      <div class="meal-list">
        <h2>DESSERTS</h2>
        <div class="meal-card">
          <h3 class="meal-title">Farandole de desserts</h3>
          <div class="meal-card__infos">
            <p class="meal-card__description">Du chef</p>
            <p class="meal-card__price">18€</p>
          </div>
          <div class="meal-card__fill">
            <div class="checkmark"><i class="fa-solid fa-check"></i></div>
          </div>
        </div>
        <div class="meal-card">
          <h3 class="meal-title">Crème brulée</h3>
          <div class="meal-card__infos">
            <p class="meal-card__description">Revisitée</p>
            <p class="meal-card__price">22€</p>
          </div>
          <div class="meal-card__fill">
            <div class="checkmark"><i class="fa-solid fa-check"></i></div>
          </div>
        </div>
        <div class="meal-card">
          <h3 class="meal-title">Tiramisu</h3>
          <div class="meal-card__infos">
            <p class="meal-card__description">A la noisette</p>
            <p class="meal-card__price">23€</p>
          </div>
          <div class="meal-card__fill">
            <div class="checkmark"><i class="fa-solid fa-check"></i></div>
          </div>
        </div>
      </div>

      <div class="cta-container">
        <a href="#"><input type="button" class="cta" value="Commander"></a>
      </div>

    </div>
  </section>

  <footer>
    <div class="container">
      <h3>ohmyfood</h3>
      <p><i class="fa-solid fa-utensils"></i>Proposer un restaurant</p>
      <p><i class="fa-solid fa-handshake-angle"></i>Devenir partenaire</p>
      <p>Mentions légales</p>
      <p>Contact</p>
    </div>

  </footer>
</body>

</html>
