<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <title>Menu La Palette du Goût</title>
    <script src="https://kit.fontawesome.com/1db11ea788.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header id="menu-navbar">
      <a href="../../index.html"><i class="fa-solid fa-arrow-left"></i></a>
      <img src="../../images/ohmyfood.png" alt="logo">
    </header>

    <img class="banner" src="../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg" alt="La Palette du Goût">

    <section class="carte">
      <div class="container">
        <div class="carte-title">
          <h1>La palette du goût</h1>
            <div class="heartbox">
              <i class="fa-regular fa-heart empty"></i>
              <i class="fa-solid fa-heart full"></i>
            </div>
        </div>

        <div class="meal-list">
          <h2>ENTRÉES</h2>
          <div class="meal-card">
            <h3 class="meal-card__title">Fricassée d'escargots</h3>
            <div class="meal-card__infos">
              <p class="meal-card__description">Au piment d'Espelette</p>
              <p class="meal-card__price">25€</p>
            </div>
            <div class="meal-card__fill">
              <div class="checkmark"><i class="fa-solid fa-check"></i></div>
            </div>
          </div>
          <div class="meal-card">
            <h3 class="meal-card__title">Foie gras de canard mi-cuit</h3>
            <div class="meal-card__infos">
              <p class="meal-card__description">Et ses copeaux de truffe noire</p>
              <p class="meal-card__price">35€</p>
            </div>
            <div class="meal-card__fill">
              <div class="checkmark"><i class="fa-solid fa-check"></i></div>
            </div>
          </div>
          <div class="meal-card">
            <h3 class="meal-card__title">Oeuf au plat</h3>
            <div class="meal-card__infos">
              <p class="meal-card__description">Assaisonné à la truffe sur lit de croûtons</p>
              <p class="meal-card__price">20€</p>
            </div>
            <div class="meal-card__fill">
              <div class="checkmark"><i class="fa-solid fa-check"></i></div>
            </div>
          </div>

        </div>

        <div class="meal-list">
          <h2>PLATS</h2>
          <div class="meal-card">
            <h3 class="meal-card__title">Filet de boeuf aux herbes</h3>
            <div class="meal-card__infos">
              <p class="meal-card__description">Accompagné de sa ribambelle de légumes</p>
              <p class="meal-card__price">40€</p>
            </div>
            <div class="meal-card__fill">
              <div class="checkmark"><i class="fa-solid fa-check"></i></div>
            </div>
          </div>
          <div class="meal-card">
            <h3 class="meal-card__title">Parmentier de queue de boeuf</h3>
            <div class="meal-card__infos">
              <p class="meal-card__description">A la truffe noire sur sa purée de panais</p>
              <p class="meal-card__price">35€</p>
            </div>
            <div class="meal-card__fill">
              <div class="checkmark"><i class="fa-solid fa-check"></i></div>
            </div>
          </div>
          <div class="meal-card">
            <h3 class="meal-card__title">Filet de turbot</h3>
            <div class="meal-card__infos">
              <p class="meal-card__description">Aux agrumes</p>
              <p class="meal-card__price">44€</p>
            </div>
            <div class="meal-card__fill">
              <div class="checkmark"><i class="fa-solid fa-check"></i></div>
            </div>
          </div>
        </div>

        <div class="meal-list">
          <h2>DESSERTS</h2>
          <div class="meal-card">
            <h3 class="meal-card__title">Paris-Brest</h3>
            <div class="meal-card__infos">
              <p class="meal-card__description">Revisité</p>
              <p class="meal-card__price">18€</p>
            </div>
            <div class="meal-card__fill">
              <div class="checkmark"><i class="fa-solid fa-check"></i></div>
            </div>
          </div>
          <div class="meal-card">
            <h3 class="meal-card__title">Macaron au chocolat d'exception</h3>
            <div class="meal-card__infos">
              <p class="meal-card__description">Et glace à la vanille de Madasgascar</p>
              <p class="meal-card__price">22€</p>
            </div>
            <div class="meal-card__fill">
              <div class="checkmark"><i class="fa-solid fa-check"></i></div>
            </div>
          </div>
          <div class="meal-card">
            <h3 class="meal-card__title">Mousse au chocolat</h3>
            <div class="meal-card__infos">
              <p class="meal-card__description">Au piment d'Espelette et à la truffe noire</p>
              <p class="meal-card__price">23€</p>
            </div>
            <div class="meal-card__fill">
              <div class="checkmark"><i class="fa-solid fa-check"></i></div>
            </div>
          </div>

              <div class="cta-container">
                <a class="cta" href="#">Commander</a>
              </div>

        </div>
    </section>

    <footer>
      <div class="container">
        <h3>ohmyfood</h3>
        <p><i class="fa-solid fa-utensils"></i>Proposer un restaurant</p>
        <p><i class="fa-solid fa-handshake-angle"></i>Devenir partenaire</p>
        <p>Mentions légales</p>
        <a href="mailto:contact@ohmyfood.com">Contact</a>
      </div>

    </footer>
  </body>
</html>
